* {
	margin: 0;
	padding: 0px;
}

.gallery .controls {
	top: 100%;
}

figure.item img {
	padding-left: 7%;
	padding-right: 7%;
	width: 100%;
	max-width: 1600px;
}

.download-type {
	text-align: center;
	border-bottom: 1px solid white;
	display: inline-block;
}

.download-image {
	width: 400px;
	box-shadow: 1px 10px 50px rgba(0, 0, 0, 0.4);
}

.download-date {
	border-bottom: 1px solid white;
	display: inline-block;
}

.download-links {
	text-align: left;
}

.download-links a {
	border-bottom: none;
	color: rgba(255, 255, 255, .8);
}

.download-links a:hover {
	/*	color:#384452;*/
	color: rgba(255, 255, 255, 1);
	border-bottom: none;
}

.see-more-link{
	position:relative;
}

.see-more-text{
	margin-right:3px;
}

.download-arrow{
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid currentColor;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}

button:focus {
	outline: 0 !important;
}

#Logopicture {
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	padding: 0px;
	width: 140px;
}

html {
	height: 100%;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #fff;
	font-weight: 300;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #fafafa;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

body {
	background: #ffffff;
	margin: 0;
	height: 100%;
	color: #384452;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

p {
	padding: 0;
	margin-bottom: 12px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin-top: 10px;
	width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	padding: 0;
	margin: 0;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid currentcolor;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: background-color .1s linear, color .1s linear;
	-moz-transition: background-color .1s linear, color .1s linear;
	-o-transition: background-color .1s linear, color .1s linear;
	-ms-transition: background-color .1s linear, color .1s linear;
	transition: background-color .1s linear, color .1s linear;
}

a:hover,
a:focus {
	text-decoration: none;
}

::-moz-selection {
	color: #fff;
	text-shadow: none;
	background: #2196F3;
}

::selection {
	color: #fff;
	text-shadow: none;
	background: #2196F3;
}

.centered {
	text-align: center;
}


/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */

.navbar {
	min-height: 50px;
	padding: 0px;
	margin-bottom: 0px;
	border: none;
	/*box-shadow: 0px 3px 5px rgba(100,100,100,.5);*/
}

.social-media-icons {
	border: none;
}

.navbar-default .navbar-nav > li > a {
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 15px;
	border: none;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #2196F3;
	border: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #222;
	background-color: transparent;
	border: none;
}

.navbar-default {
	background-color: rgba(255, 255, 255, 1);
	border: none;
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}


/* Services Wrap */

.service {
	margin: 0px;
	padding: 70px;
	min-height: 500px;
	/*	width: 100%;*/
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}

#service-slider {
	color: #384452;
	padding: 70px;
}

.service h1,
.service h2 {
	font-family: "Roboto Slab";
}

.service h4 {
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
}

.service p {
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
}

#service-fast {
	background: linear-gradient( rgba(0, 255, 0, 0.45), rgba(0, 255, 0, 0.45)), url('../img/3.jpg') no-repeat center top;
}

#service-frugal {
	background: #00baff;
}

#service-compatible {
	background: linear-gradient( rgba(255, 255, 0, 0.45), rgba(255, 255, 0, 0.45)), url('../img/3.jpg') no-repeat center top;
}

#service-scalable {
	background: yellow;
}

#service-secure {
	background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../img/3.jpg') no-repeat center top;
}

#service-rolling {
	background: rgb(0, 255, 0);
}

#service-philosophy {
	background: white;
	color: #384452;
}

#service-download {
	background: linear-gradient( rgba(0, 255, 0, 0.45), rgba(0, 255, 0, 0.45)), url('../img/3.jpg') no-repeat center top;
}

#service-ice {
	background-color: #fff;
	color: #384452;
	min-height: 450px;
}

#service-pushbullet {
	background: url(../img/1.jpg) no-repeat center top;
	min-height: 450px;
}

#service-syncthing {
	background: url(../img/3.jpg) no-repeat center top;
	min-height: 450px;
}


/* Footer */

#footerwrap {
	padding-top: 10px;
	padding-bottom: 60px;
	background: #384452;
}

#footerwrap p {
	color: #bfc9d3;
}

#footerwrap h4 {
	color: white;
}

#footerwrap i {
	font-size: 30px;
	color: #bfc9d3;
	padding-right: 25px;
}

#footerwrap i:hover {
	color: #00b3fe
}

#copyright {
	color: #bfc9d3;
	font-size: 10px;
	position: absolute;
	transform: translateY(-100%);
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
}

@media (max-width: 991px) {
	.row-eq-height {
		flex-direction: column;
	}
}